.que.ddingroups .qtext {
    margin-bottom: 0.5em;
    display: block;
}

.que.ddingroups .draghome {
    margin-bottom: 1em;
}

.que.ddingroups .answertext {
    margin-bottom: 0.5em;
}

.que.ddingroups .drop.active {
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 2px;
}

.que.ddingroups .drop {
    display: none;
}

.que.ddingroups .drags {
    height: 0;
}

.que.ddingroups .draghome {
    display: inline-block;
    text-align: center;
    background: transparent;
    border: 1px solid #000;
    cursor: move;
}

.que.ddingroups.qtype_ddingroups-readonly .draghome {
    cursor: default;
}

.que.ddingroups .draghome.beingdragged {
    z-index: 3;
    box-shadow: 3px 3px 4px #000;
    position: absolute;
}

.que.ddingroups .draghome.dragplaceholder {
    display: none;
}

.que.ddingroups .draghome.dragplaceholder.active {
    visibility: hidden;
    display: inline-block;
}

.que.ddingroups .draghome.placed {
    margin-bottom: 2px;
}

.que.ddingroups .drop:focus,
.que.ddingroups .drop.valid-drag-over-drop,
.que.ddingroups .draghome.placed:focus:not(.beingdragged),
.que.ddingroups .draghome.placed.valid-drag-over-drop {
    border-color: #0a0;
    box-shadow: 0 0 5px 5px rgba(255, 255, 150, 1);
}

.que.ddingroups span.incorrect {
    background-color: #faa;
}

.que.ddingroups span.correct {
    background-color: #afa;
}

.que.ddingroups .group1 {
    background: #A8E6CF;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups .group2 {
    background: #D0B9FF;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups .group3 {
    background: #FFDAB9;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups .group4 {
    background: #A4C8E1;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups .group5 {
    background: #E1C49E;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups .group6 {
    background: #D6DAD9;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups .group7 {
    background: #F7C8D1;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups .group8 {
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

.que.ddingroups sub,
.que.ddingroups sup {
    font-size: 80%;
    position: relative;
    vertical-align: baseline;
}

.que.ddingroups sup {
    top: -0.4em;
}

.que.ddingroups sub {
    bottom: -0.2em;
}

.que.ddingroups .MathJax_Display {
    margin: 0;
}
