
{{!
    @template qtype_ddingroups/correct_response

    Renders the correct answers grouped into their respective groups.
}}

{{#hascorrectresponse}}
    {{#showcorrect}}
        <p>{{#str}} correctorder, qtype_ddingroups {{/str}}</p>
        <div class="correctgroups {{ddingroupslayoutclass}}">
            {{#correctanswers}}
                <div class="group">
                    <h4>{{groupname}}</h4>
                    <ol class="correctorder">
                        {{#answers}}
                            <li class="correctitem">
                                {{{answertext}}}
                            </li>
                        {{/answers}}
                    </ol>
                </div>
            {{/correctanswers}}
        </div>
    {{/showcorrect}}
{{/hascorrectresponse}}
{{^hascorrectresponse}}
    <p>{{#str}} noresponsedetails, qtype_ddingroups {{/str}}</p>
{{/hascorrectresponse}}
