
{{!
    @template qtype_ddingroups/feedback
    Renders feedback for grouped drag-and-drop questions.
}}

{{#specificfeedback}}
    <div class="specificfeedback">

        {{{specificfeedback}}}

    </div>
{{/specificfeedback}}

{{#numpartscorrect}}
    <div class="numpartscorrect">
        {{>qtype_ddingroups/num_parts_correct}}
    </div>
{{/numpartscorrect}}

{{#specificgradedetailfeedback}}
    <div class="specificgradedetailfeedback">
        {{>qtype_ddingroups/specific_grade_detail_feedback}}
    </div>
{{/specificgradedetailfeedback}}

{{#hint}}
    <div class="hint">
        {{{hint}}}
    </div>
{{/hint}}

{{#generalfeedback}}
    <div class="generalfeedback">

        {{{generalfeedback}}}

    </div>
{{/generalfeedback}}

{{#rightanswer}}
    <div class="rightanswer">
        {{>qtype_ddingroups/correct_response}}
    </div>
{{/rightanswer}}

