<div class="qtext">
    {{{questiontext}}}
</div>

<!-- Общий бокс для всех элементов -->
<div class="ablock" id="general-box">
    <div class="answer ddingroups">
        <ul class="sortablelist {{layout}}" id="general-box-list">
            {{#groups}}
                {{#items}}
                    <!-- Элементы отображаются в общем боксе -->
                    <li class="p-2 {{^readonly}}sortableitem{{/readonly}}" id="{{id}}">
                        <div class="d-flex">
                            {{^readonly}}
                                <div class="d-flex p-2 grip">
                                    <i class="fas fa-grip-vertical" aria-hidden="true"></i>
                                </div>
                            {{/readonly}}
                            <div class="d-flex align-items-center flex-grow-1 px-2" id="{{id}}-text" data-itemcontent>
                                {{{answertext}}}
                            </div>
                        </div>
                    </li>
                {{/items}}
            {{/groups}}
        </ul>
    </div>
</div>

<!-- Пустые боксы для групп -->
{{#groups}}
<div class="group-box" id="{{groupid}}">
    <h3>{{{groupname}}}</h3>
    <ul class="sortablelist" id="{{groupid}}-list">
        <!-- Сюда элементы будут перемещаться -->
    </ul>
</div>
{{/groups}}

<!-- Скрытое поле для хранения результата -->
<input name="{{responsename}}" id="{{responseid}}" type="hidden" value="{{value}}"/>

<!-- Вывод данных для отладки -->
<pre>{{{json .}}}</pre>

<!-- Скрипт для инициализации drag and drop -->
{{^readonly}}
    {{#js}}
        require(['qtype_ddingroups/dragreorder'], function(dragreorder) {
            dragreorder.init({
                lists: ['general-box-list', {{#groups}}'{{groupid}}-list',{{/groups}}],
                responseid: '{{responseid}}'
            });
        });
    {{/js}}
{{/readonly}}


