<div class="qtext">
    {{{questiontext}}}
</div>

<div class="layout-container">
    <!-- Контейнер для групп -->
    <div class="groups-container {{layout}}">
        {{#groups}}
        <div class="group-box" id="{{groupid}}">
            <div class="group-header">
                <h3 class="group-title">{{{groupname}}}</h3>
            </div>
            <div class="group-content">
                <ul class="sortablelist" id="{{groupid}}-list">
                    <!-- Пустые списки для перетаскивания элементов -->
                </ul>
            </div>
        </div>
        {{/groups}}
    </div>

    <!-- Общий бокс для всех элементов -->
    <div class="general-box">
        <h3>Ответы</h3>
        <ul class="sortablelist" id="general-box-list">
            <!-- Все элементы изначально находятся здесь -->
            {{#groups}}
            {{#items}}
            <li class="sortableitem" id="{{id}}" draggable="true">
                <span>{{{answertext}}}</span>
            </li>
            {{/items}}
            {{/groups}}
            {{#unassigned}}
            <li class="sortableitem" id="{{id}}" draggable="true">
                <span>{{{answertext}}}</span>
            </li>
            {{/unassigned}}
        </ul>
    </div>
</div>

<!-- Скрытое поле для хранения результата -->
<input name="{{responsename}}" id="{{responseid}}" type="hidden" value="{{value}}" />

<!-- Скрипт для инициализации drag-and-drop -->
{{^readonly}}
{{#js}}
require(['qtype_ddingroups/dragreorder'], function(dragreorder) {
    dragreorder.init({
        lists: ['general-box-list', {{#groups}}'{{groupid}}-list',{{/groups}}],
        responseid: '{{responseid}}'
    });
});
{{/js}}
{{/readonly}}
