
{{!
    @template qtype_ddingroups/num_parts_correct
    Renders feedback for the number of correct, partially correct, and incorrect responses per group.
}}

{{#groups}}
    <div class="groupfeedback">
        <h4>{{groupname}}</h4>
        <div>
            {{#numcorrect}}
                <p class="correctfeedback">
                    {{#str}} correctitemsnumber, qtype_ddingroups, {{numcorrect}} {{/str}}
                </p>
            {{/numcorrect}}

            {{#numpartial}}
                <p class="partialfeedback">
                    {{#str}} partialitemsnumber, qtype_ddingroups, {{numpartial}} {{/str}}
                </p>
            {{/numpartial}}

            {{#numincorrect}}
                <p class="incorrectfeedback">
                    {{#str}} incorrectitemsnumber, qtype_ddingroups, {{numincorrect}} {{/str}}
                </p>
            {{/numincorrect}}
        </div>
    </div>
{{/groups}}

