
{{!
    @template qtype_ddingroups/proxyhtml
    Represents the visual element being dragged for DDInGroups.
}}

<div class="que ddingroups dragproxy" style="position: absolute; {{proxyStyles}}">
    <ul class="proxylist {{listClassName}}">
        <li class="proxyitem {{itemClassName}} item-moving">
            <div class="proxy-content">
                {{{itemHtml}}}
            </div>
        </li>
    </ul>
</div>


