
{{!
    @template qtype_ddingroups/specific_grade_detail_feedback
    Renders detailed grading feedback for grouped questions.
}}

{{#showpartialwrong}}
    {{#gradingtype}}
        <p class="gradingtype">
            {{gradingtype}}
        </p>
    {{/gradingtype}}

    <div class="gradedetails">
        {{#groups}}
            <div class="groupgradedetails">
                <h4>{{groupname}}</h4>
                <ul class="scoredetails">
                    {{#scoredetails}}
                        <li>
                            {{#groupname}}{{groupname}}{{/groupname}} :{{#groupel}}{{groupel}}{{/groupel}}
                        </li>
                        <li>
                            {{#score}}{{score}}{{/score}} / {{#maxscore}}{{maxscore}}{{/maxscore}} = {{itog}}
                        </li>
                    {{/scoredetails}}
                </ul>
            </div>
        {{/groups}}

        {{#totalscore}}
        <p class="totalgradedetails">
            {{#str}} totalgradedetails, qtype_ddingroups, {{totalscore}},{{totalmaxscore}},{{gradedetails}} {{/str}}
        </p>
        {{/totalscore}}
    </div>
{{/showpartialwrong}}

